
.button {
  display: inline-block;

  width: max-content;
  height: 2em;

  border-radius: 1em;
  border-width: 0;

  margin: 0 0.5em;
  padding: 0.5em 1em;

  background-color: #77f;

  cursor: pointer;
}
