.menu {
  display: block;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  z-index: 10;

  margin: 0;
  padding: 0;

  width: 100%;
  max-width: 20em;
  height: 100%;

  background-color: #777;
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuListElement {
  width: 100%;
}

.menuLink,
.menuLink:visited {
  color: #000;
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 0.5em 1em;
}

.menuLink:hover,
.menuLink:active {
  background-color: #aaa;
}

.menuBackground {
  position: absolute;

  z-index: 10;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
