.HeaderTitle {
  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;

  align-items: center;

  gap: 0.5rem;

  cursor: pointer;
}

.Logo {
  width: 2.5rem;
}

.Name {
  margin: 0;
  font-size: 1.5em;
}
