.Header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  min-width: min-content;

  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;

  padding: 0 1em;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  align-items: center;

  gap: 1em;

  background-color: #777;
}
