/* The fieldset */
.Fieldset {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
}

/* The note about the contact */
.Note {
  width: 100%;
}

/* The submit button */
.Submit {
  width: calc(100% - 2rem);
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* The error message */
.ErrorMessage {
  color: #f77;
  grid-column: 1 / 3;
}

@media only screen and (max-width: 500px) {
  .Fieldset {
    grid-template-columns: auto;
  }

  .ErrorMessage {
    grid-column: 1 / 2;
  }
}
